<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xiong.garbage.dao.GarbageMapper">

    <sql id="tb">
        `garbage`
    </sql>

    <sql id="cols_all">
        `id`, `name`, `city_id`, `category_id`, `created_at`, `updated_at`
    </sql>

    <update id="update" parameterType="com.xiong.garbage.model.Garbage">
        UPDATE
        <include refid="tb"/>
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="cityId != null">`city_id` = #{cityId},</if>
            <if test="categoryId != null">`category_id` = #{categoryId},</if>
        </set>
        WHERE `id` = #{id}
    </update>

    <delete id="deleteGarbages">
        DELETE FROM
        <include refid="tb"/>
        WHERE `id` IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="paging" resultType="com.xiong.garbage.model.Garbage">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        <where>
            <if test="cityId != null">AND `city_id` = #{cityId}</if>
            <if test="categoryId != null">AND `category_id` = #{categoryId}</if>
            <if test="name != null">AND `name` like CONCAT('%', #{name}, '%')</if>
        </where>
        ORDER BY `updated_at`DESC
    </select>

    <select id="findByName" resultType="com.xiong.garbage.model.Garbage">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE `city_id` = #{cityId}
        AND `name` like CONCAT('%', #{name}, '%')
    </select>


</mapper>