<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--保证在移动端能正常显示-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="./font/iconfont.css">
    <title>垃圾分类指南</title>


</head>
<body>
<div id="app">
    <!--头部导航条-->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark p-lg-40">
        <a class="navbar-brand" href="/index.html"><span
                class="iconfont icon-lajifenleiSVG"></span>垃圾分类指南</a><span
            class="d-lg-inline">|</span>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/news.html?type=1">政策 <span
                            class="iconfont icon-zhengce"></span><span
                            class="sr-only">
                    (current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news.html?type=2">资讯
                        <span class="iconfont icon-xinwen"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/game.html">游戏
                        <span class="iconfont icon-youxi"></span></a>
                </li>
            </ul>
        </div>

        <!--定位框-->
        <h3 class="iconfont icon-dingwei"></h3>
        <select v-model="selectedEntity.cityId"
                @change="getCategoryByCity(selectedEntity.cityId)"
                id="location">
            <option :value="city.id" v-for="city in cityList">{{city.name}}</option>
        </select>
    </nav>

    <!--搜索框-->
    <div class="search">
        <nav class="navbar navbar-light bg-light search-nav">
            <input v-model="selectedEntity.name" class="form-control mr-sm-2 search-inp"
                   placeholder="请输入垃圾名称">
            <button @click="searchGarbage()"
                    class="btn btn-outline-success my-2 my-sm-0 searchBtn">搜索
            </button>
        </nav>
    </div>
    <!--分类查询结果蒙版-->
    <div class="mask"></div>
    <div class="card toDisplay">
        <!--搜索关键字的结果-->
        <p class="maskTitle"><span style="color: #ffffff;">{{garbage.name}} </span>
            <span v-if="garbage.id!=null">———{{categoryMap[garbage.categoryId]}}</span>
            <span id="maskDelete" @click="close()" class="iconfont icon-guanbi_huaban1"></span>
        </p>
        <h4 v-if="garbage.id != null && garbageList.length != 0" style="color: #ffffff;">相关垃圾：</h4>
        <h4 v-if="garbage.id == null && garbageList.length != 0" style="color: #ffffff;">您要找的是：</h4>
        <h4 v-if="garbage.id == null && garbageList.length == 0"
            style="color: #ffffff;">很遗憾，未能帮您找到相关垃圾信息
        </h4>
        <ul class="card-body">
            <li class="card-text" v-for="garbageItem in garbageList">
                {{garbageItem.name}} 是 {{categoryMap[garbageItem.categoryId]}}
            </li>
        </ul>
        <!--<img src="images/apple.jpg" class="card-img-top" alt="...">-->
        <!--<div class="card-body">-->
        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        <!--</div>-->
    </div>

    <!--分类卡片展示-->
    <div class="content  d-lg-flex justify-content-between">
        <!--干垃圾-->
        <div class="card" v-for="categoryItem in categoryList" style="width: 18rem;">
            <img :src="categoryItem.image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{categoryItem.name}}是指：
                </h5>
                <p class="card-text">{{categoryItem.description}}</p>
                <button @click="getDetailCategory(categoryItem.id)" class="btn btn-primary cardBtn">
                    了解详情
                </button>
            </div>
        </div>
    </div>

    <!--了解详情-->
    <!--干residual-->

    <div class="jumbotron jumbotron-fluid cardShow container" v-if="category != null">
        <h1 class="display-6">{{category.name}}</h1>
        <p class="lead">{{category.example}}</p>
    </div>


</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--所有插件都依赖于jquery，所以放在最前面-->
<script src="js/jquery-3.4.1.js"></script>
<!--提示弹窗大多通过popper.min.js实现-->
<script src="js/popper.js"></script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript" src="plugins/vue/vuejs-2.5.16.js"></script>
<script type="text/javascript" src="plugins/vue/axios-0.18.0.js"></script>
<script src="js/index.js"></script>

</body>
</html>
