<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>游戏问题管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
          name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../plugins/pageination/zpageNav.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

</head>
<body class="hold-transition skin-red sidebar-mini">

<div id="app">
    <div class="box-header with-border" style="height: 64.5px;line-height: 54px;">
        <h3 class="box-title">游戏问题管理</h3>
    </div>
    <div class="box-body">
        <!-- 数据表格 -->
        <div class="table-box">
            <!--工具栏-->
            <div class="pull-left">
                <div class="form-group form-inline">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default"
                                title="新建"
                                data-toggle="modal"
                                data-target="#editModal"><i class="fa fa-file-o"></i> 新建
                        </button>
                        <button type="button" class="btn btn-default"
                                @click="deleteProblem()"
                                title="删除"><i
                                class="fa fa-trash-o"></i> 删除
                        </button>
                        <button type="button" class="btn btn-default" title="刷新"
                                onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新
                        </button>
                    </div>
                    <div class="box-tools pull-right">
                        <div class="has-feedback" style="margin-left: 350px; font-size: 16px">
                            问题名称: <input v-model="searchEntity.name" type="text"
                                         class="form-control"
                        >
                            <input @click="pageHandler(1)" class="btn btn-default" type="button"
                                   value="查询">
                        </div>
                    </div>
                </div>
            </div>

            <!--数据列表-->
            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                <tr>
                    <th class="" style="padding-right:0px">
                        <input id="selall" type="checkbox" class="icheckbox_square-blue">
                    </th>
                    <th class="sorting_asc">问题ID</th>
                    <th class="sorting">问题题目/题目图片URL</th>
                    <th class="sorting">选项A</th>
                    <th class="sorting">选项B</th>
                    <th class="sorting">选项C</th>
                    <th class="sorting">选项D</th>
                    <th class="sorting">正确答案</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>

                <tr v-for="problemItem in problemList">
                    <td><input @click="deleteSelect($event, problemItem.id)" type="checkbox"></td>
                    <td>{{problemItem.id}}</td>
                    <td>{{problemItem.name}}</td>
                    <td>{{problemItem.selectA}}</td>
                    <td>{{problemItem.selectB}}</td>
                    <td>{{problemItem.selectC}}</td>
                    <td>{{problemItem.selectD}}</td>
                    <td>{{problemItem.rightAnswer}}</td>
                    <td class="text-center">
                        <button type="button"
                                @click="findProblem(problemItem.id)"
                                class="btn bg-olive btn-xs" data-toggle="modal"
                                data-target="#editModal">修改
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
    <!--分页-->
    <zpagenav name="pagenav" v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total"
              v-bind:max-page="maxPage" v-on:pagehandler="pageHandler">
    </zpagenav>

    <!-- 编辑窗口 -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button @click="close()" type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h3 id="myModalLabel">{{problem.id != null ? '游戏问题编辑' : '游戏问题添加'}}</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped" width="800px">
                        <tr>
                            <td>问题类型</td>
                            <td>
                                <select class="form-control"
                                        v-model="problem.problemType">
                                    <option value="1" selected="selected">文字类型</option>
                                    <option value="2">图片类型</option>
                                </select>
                            </td>
                        </tr>
                        <tr v-if="problem.problemType == 1">
                            <td>问题</td>
                            <td><input class="form-control" v-model="problem.name"
                                       placeholder="问题"></td>
                        </tr>
                        <tr v-if="problem.problemType == 2">
                            <td>问题</td>
                            <td>
                                <input type="file" id="file"/>
                                <button class="btn btn-primary" type="button"
                                        @click="uploadImage()"
                                        style="margin-top: 10px; ">上传
                                </button>
                                <button class="btn btn-primary" type="button"
                                        @click="deleteImage()"
                                        style="margin-top: 10px; ">删除
                                </button>
                                <img :src="problemImageUrl" style="margin-left: 100px"
                                     width="120px"
                                     height="120px"
                                     alt=""/>
                            </td>
                        </tr>
                        <tr>
                            <td>选项A</td>
                            <td><input class="form-control" v-model="problem.selectA"
                                       placeholder="选项A"></td>
                        </tr>
                        <tr>
                            <td>选项B</td>
                            <td><input class="form-control" v-model="problem.selectB"
                                       placeholder="选项B"></td>
                        </tr>
                        <tr>
                            <td>选项C</td>
                            <td><input class="form-control" v-model="problem.selectC"
                                       placeholder="选项C"></td>
                        </tr>
                        <tr>
                            <td>选项D</td>
                            <td><input class="form-control" v-model="problem.selectD"
                                       placeholder="选项D"></td>
                        </tr>
                        <tr>
                            <td>正确答案</td>
                            <td>
                                <select class="form-control"
                                        v-model="problem.rightAnswer">
                                    <option value="-1">请选择正确答案</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                </select>
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="modal-footer">
                    <button @click="toEditProblem()" class="btn btn-success" data-dismiss="modal"
                            aria-hidden="true">保存
                    </button>
                    <button @click="close()" class="btn btn-default" data-dismiss="modal"
                            aria-hidden="true">关闭
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
<script type="text/javascript" src="../plugins/vue/vuejs-2.5.16.js"></script>
<script type="text/javascript" src="../plugins/vue/axios-0.18.0.js"></script>
<script type="text/javascript" src="../plugins/vue/qs.js"></script>
<script type="text/javascript" src="../plugins/pageination/zpageNav.js"></script>
<script src="../js/problem.js"></script>
</html>