<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
          name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../plugins/pageination/zpageNav.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini">

<div id="app">
    <div class="box-header with-border" style="height: 64.5px;line-height: 54px;">
        <h3 class="box-title">用户管理</h3>
    </div>
    <div class="box-body">
        <!-- 数据表格 -->
        <div class="table-box">

            <!--工具栏-->
            <div class="box-tools pull-right">
                <div class="has-feedback">
                    用户名称：<input v-model="searchParams.name">
                    用户学号： <input v-model="searchParams.studentNum">
                    用户qq：<input v-model="searchParams.qqNum">
                    用户手机号：<input v-model="searchParams.phone">
                    <button class="btn btn-default" @click="pageHandler(1)">查询</button>
                </div>
            </div>
            <!--数据列表-->
            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                <tr>
                    <th class="" style="padding-right:0px">
                        <input id="selall" type="checkbox" class="icheckbox_square-blue">
                    </th>
                    <th class="sorting_asc">用户ID</th>
                    <th class="sorting">用户名称</th>
                    <th class="sorting">用户学号</th>
                    <th class="sorting">用户密码</th>
                    <th class="sorting">用户qq号</th>
                    <th class="sorting">用户手机号</th>
                    <th class="sorting">用户头像</th>
                    <th class="sorting">用户默认地址</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="userItem in userList">
                    <td><input type="checkbox"></td>
                    <td>{{userItem.id}}</td>
                    <td>{{userItem.name}}</td>
                    <td>{{userItem.studentNum}}</td>
                    <td>{{userItem.password}}</td>
                    <td>{{userItem.qqNum}}</td>
                    <td>{{userItem.phone}}</td>
                    <td>{{userItem.image}}</td>
                    <td>{{userItem.defaultAddressId}}</td>
                    <td class="text-center">
                        <button type="button"
                                class="btn bg-olive btn-xs"
                                data-toggle="modal" data-target="#editModal"
                                @click="getSingleUser(userItem.id)"
                        >更新
                        </button>
                        <button type="button"
                                class="btn bg-olive btn-xs"
                                @click="deleteUser(userItem.id)"
                        >删除
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <!--分页-->
    <zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total"
              v-bind:max-page="maxPage" v-on:pagehandler="pageHandler">
    </zpagenav>

    <!-- 编辑窗口 -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h3 id="myModalLabel">用户信息编辑</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped" width="800px">
                        <input v-model="user.id" style="display: none"/>
                        <tr>
                            <td>用户名称</td>
                            <td><input v-model="user.name" class="form-control"
                                       placeholder="用户名称"></td>
                        </tr>
                        <tr>
                            <td>用户学号</td>
                            <td><input v-model="user.studentNum" class="form-control"
                                       placeholder="用户学号"></td>
                        </tr>
                        <tr>
                            <td>用户密码</td>
                            <td><input v-model="user.password" class="form-control"
                                       placeholder="用户密码"></td>
                        </tr>
                        <tr>
                            <td>用户qq号</td>
                            <td><input v-model="user.qqNum" class="form-control"
                                       placeholder="用户qq号"></td>
                        </tr>
                        <tr>
                            <td>用户手机号</td>
                            <td><input v-model="user.phone" class="form-control"
                                       placeholder="用户手机号"></td>
                        </tr>
                        <tr>
                            <td>用户头像</td>
                            <td><input v-model="user.image" class="form-control"
                                       placeholder="用户头像"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" @click="toUpdateUser()" data-dismiss="modal"
                            aria-hidden="true">更新
                    </button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="../plugins/vue/vuejs-2.5.16.js"></script>
<script type="text/javascript" src="../plugins/vue/axios-0.18.0.js"></script>
<script type="text/javascript" src="../plugins/vue/qs.js"></script>
<script src="../plugins/pageination/zpageNav.js"></script>
<script type="text/javascript" src="../js/user.js"></script>
</html>